@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 600px;
  margin: 0px auto;
  background-color: #c5cbf5;
  border-radius: 24px;
  min-height: 60vh;
  @apply md:py-12 py-10 px-8;
}

h1 {
  letter-spacing: -0.01em;
}

p {
  letter-spacing: -0.01em;
}
